
<div>
    <h1 class="mat-h1">Users</h1>
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile *ngFor="let user of users$">
        <mat-card class="dashboard-card">
            <mat-card-title routerLink="/details/{{user.id}}">{{ user.name }}</mat-card-title>
            <mat-card-content>{{ user.email }}</mat-card-content>
            <mat-card-actions>
                <a mat-button href="http://{{ user.website }}"><i class="material-icons">website</i></a>
            </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


