.grid-container {
  margin: 20px;
}

.dashboard-card {
  width: 90%;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
